@page "/person"
@using InsuranceCorp.Data;
@using InsuranceCorp.Model;
@using Microsoft.EntityFrameworkCore;

@inject InsCorpDbContext context

<h3>Seznam osob</h3>

<table class="table">
    <tr>
        <td>
            Jméno
        </td>
        <td>
            Příjmení
        </td>
        <td>
            Datum narození
        </td>
        <td>
            Email
        </td>
        <td>
            Počet smluv
        </td>
        <td></td>
    </tr>

    @foreach (var person in persons)
    {
        <tr>
            <td>
                @person.FirstName
            </td>
            <td>
                @person.LastName
            </td>
            <td>
                @person.DateOfBirth.ToString("dd. MM. yyyy")
            </td>
            <td>
                <a href="/person/detail/@person.Id">@person.Email</a>
            </td>
            <td>
                @person.Contracts.Count()
            </td>
            <td>
                <a class="btn btn-primary" href="/person/edit/@person.Id" style="background-color:cornflowerblue">Editovat</a>
            </td>
        </tr>
    }
</table>

<button class="btn btn-primary" @onclick="LoadNext" >
    Načti dalších 20 osob
</button>

@code {
    private List<Person> persons = new List<Person>();

    private int cnt = 0;

    protected override void OnInitialized()
    {
        persons = context.Persons
                    .Include(person => person.Contracts)
                    .Take(20)
                    .ToList();
        cnt = 20;
    }

    private void LoadNext()
    {
        var next = context.Persons
                           .Include(person => person.Contracts)
                           .Skip(cnt)
                           .Take(20)
                           .ToList();
        cnt += 20;

        persons.AddRange(next);
    }
}
