@model List<Person>

@{
    //sekce kodu
    // Model.Count()
}

<div>
    <table class="table">
        <tr>
            <td>
                Jméno
            </td>
            <td>
                Příjmení
            </td>
            <td>
                Datum narození
            </td>
            <td>
                Email
            </td>
            <td>
                Počet smluv
            </td>
            <td></td>
        </tr>

        @foreach (var person in Model)
        {
            <tr>
                <td>
                    @person.FirstName
                </td>
                <td>
                    @person.LastName
                </td>
                <td>
                    @person.DateOfBirth.ToString("dd. MM. yyyy")
                </td>
                <td>
                    <a asp-controller="Person" asp-action="Detail" 
                    asp-route-id="@person.Id" >@person.Email</a>
                </td>
                <td>
                    @person.Contracts.Count()
                </td>
                <td>
                    <a class="btn btn-primary" asp-controller="Person" 
                    asp-action="Edit" asp-route-id="@person.Id">Editovat</a>
                </td>
            </tr>
        }

    </table>
</div>
